html(lang="vi")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="Description" content="Some thing about me, some thing about you. You can write whatever you want here!")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(property="og:title" content=ogTitle)
    meta(property="og:description" content=ogDescription)
    meta(property="og:image" content="http://somethingaboutme.info/resources/profile.jpg")
    meta(property="og:url" content=ogUrl)
    meta(name="twitter:card" content="summary_large_image")
    meta(property="og:site_name" content="somethingaboutme.info")
    meta(name="twitter:image:alt" content=ogImageAlt)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", async)
    link(rel="stylesheet", href="/material-design-icons/material-icons.css", async)
    style !{styles}
    script window.__INITIAL__DATA__ = !{initdata}
  body
    div(id='app') !{main}
    each s in scripts
      script(src=s, async)