html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title= title
    script window.signinError = !{context}
    style !{styles}
  body
    div(id='app') !{body}
    each s in scripts
      script(src=s, async)